POWERPLATFORM_ENVIRONMENT_ID=
POWERAPPS_APP_DISPLAY_NAME=Field Equipment Parts
POWERPLATFORM_SOLUTION_NAME=FieldEquipmentParts

VITE_DATA_SOURCE=mock
VITE_LIST_SITE_URL=
VITE_REPLACEMENT_PARTS_LIST_NAME=Replacement Parts
VITE_EQUIPMENT_REQUESTS_LIST_NAME=Equipment Requests
